/TicTacToeGame/nbproject/private

/TicTacToeGame/build/
/TicTacToeGame/dist/

/TicTacToeGame/recordedGames

*.class

/Server/GmeeServer/nbproject
/GameServer/nbproject/private/
/GameServer/build/
/GameServer/dist/